!.env.example
!.env.local.example
!.vscode/extensions.json
!.vscode/settings.json
*.crt
*.egg-info/
*.iml
*.key
*.log
*.p12
*.pem
*.py[cod]
*.pyd
*.pyi
*.pyo
*.pytest_cache
*.ruff_cache
*.secret
*.secrets
*.so
*.swo
*.swp
*.tmp
.DS_Store
.DS_Store
.coverage*
.eggs/
.env
.env.*
.hypothesis/
.idea/
.mypy_cache/
.nox/
.pyre/
.pytest_cache/
.ruff_cache/
.tox/
.vault-token
.venv/
.vscode/
.vscode/*
ENV/
Thumbs.db
__pycache__/
build/
celerybeat-schedule
celerybeat.pid
dist/
env/
htmlcov/
logs/
media/
static_root/
staticfiles/
venv/
